 <script src="https://kit.fontawesome.com/6487f0a3d4.js" crossorigin="anonymous"></script>

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Inter", sans-serif;
    }

     .nav {
        height: 80px;
        display: flex;
       }

    .nav__container {
        width: 100%;
        max-width: 1280px;
        padding: 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .purple {
        color: #6415ff;
    }

    img {
        width: 40px;
        
    }
    .nav__logo--title {
        display: flex;
        font-weight: 900;
        font-size: 24px;
        margin-left: 12px;
        padding-bottom: 2px;
        color: #243E62;
    }

    ul {
        display: flex;
    }

    li {
        list-style-type: none;
    }

    .nav__link {
        margin: 0 24px;
        text-decoration: none;
        font-size: 14px;
        color: #243e62;
        font-weight: bold;
        padding: 2px;
    }

    .nav__link:hover {
        text-decoration: underline;
    }

    .nav__link--primary {
        border: 2px solid #6415ff;
        border-radius: 4px;

    }

    .nav__link--primary:hover {
        text-decoration: none;
    }

    .header__container{
        width: 100%;
        max-width: 720px;
        margin: 0 auto;
    }

    h1{
        font-size: 30px;
    }

    .header__description {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .header__description--para {
        margin: 20px 0;
        font-size: 16px;
        color:#243E62 ;
    }

    .header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
   
    .header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
    }

   .header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
    }

    .header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;
    }

    .header__customers {
    margin-top: 16px;
    padding-right: 128px;
    padding-left: 128px;
    opacity: 0.5;
    width: 100%;
    }

    .header__img {
       width: 100%;
    }